body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100vh;
  margin: 0;
  padding: 0;
}

.timerBody{
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.centerObjects{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.centerText{
  text-align: center;
}

.incrementControl{
  display: flex;
  flex-direction: column;
}